<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="footer-heading">{{ site.title | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <p class="footer-description">{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          <a href="{{ "/" | relative_url }}">Home</a>
          &nbsp;·&nbsp;
          <a href="{{ "/projects/" | relative_url }}">Projects</a>
          &nbsp;·&nbsp;
          <a href="{{ "/about/" | relative_url }}">About</a>
        </p>
      </div>
    </div>
  </div>
</footer>
